// @import "../assets/fonts/sf-compact-display/style.css";
// @import "../assets/fonts/nunito/style.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
.v-application {
  font-size: 16px;
}

* {
  font-family: "Inter", sans-serif !important;
}
